In [26]:
import numpy as np
import pandas as pd
import json

In [27]:
Movies = pd.read_csv('data/Movies.csv', index_col=False) 
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 22 columns):
budget                  199 non-null int64
genres                  199 non-null object
homepage                152 non-null object
id                      199 non-null int64
keywords                199 non-null object
original_language       199 non-null object
original_title          199 non-null object
overview                199 non-null object
popularity              199 non-null float64
production_companies    199 non-null object
production_countries    199 non-null object
release_date            199 non-null object
revenue                 199 non-null int64
runtime                 199 non-null int64
spoken_languages        199 non-null object
status                  199 non-null object
tagline                 193 non-null object
title                   199 non-null object
vote_average            199 non-null float64
vote_count              199 non-null int64
cast                    199 non-null object
crew                    199 non-null object
dtypes: float64(2), int64(5), object(15)
memory usage: 34.3+ KB

In [28]:
Movies = Movies.drop(['budget', 'homepage','keywords','original_title','production_companies','production_countries','revenue','spoken_languages','status','tagline'], axis=1)
Movies = Movies.rename(columns={'cast': 'actors', 'crew': 'director', 'release_date': 'release_year'})
Movies = Movies.drop([28])
Movies = Movies.reset_index(drop=True)
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 12 columns):
genres               198 non-null object
id                   198 non-null int64
original_language    198 non-null object
overview             198 non-null object
popularity           198 non-null float64
release_year         198 non-null object
runtime              198 non-null int64
title                198 non-null object
vote_average         198 non-null float64
vote_count           198 non-null int64
actors               198 non-null object
director             198 non-null object
dtypes: float64(2), int64(3), object(7)
memory usage: 18.7+ KB

In [29]:
# year = Movies.loc[0, 'release_year'][-2:]
# shortYrAsInt = int(year)
# longYear = 0
# if (shortYrAsInt <= 20):
#     longYear = shortYrAsInt + 2000
# else:
#     longYear = shortYrAsInt + 1900

# print(longYear)
# Movies.loc[0, 'release_year'] = longYear
# Movies.loc[0, 'release_year']

In [30]:
for i in range (Movies.shape[0]):
    year = Movies.loc[i, 'release_year'][-2:]
    shortYrAsInt = int(year)
    longYear = 0
    if (shortYrAsInt <= 20):
        longYear = shortYrAsInt + 2000
    else:
        longYear = shortYrAsInt + 1900
    Movies.loc[i, 'release_year'] = longYear
    
    y=json.loads(Movies.loc[i,'actors'])
    l = [d['name'] for d in y]
    Movies.at[i,'actors'] = ','.join(l)
    
    y2 = json.loads(Movies.loc[i,'director'])
    l2 = [d['name'] for d in y2 if d['job']=='Director']
    Movies.at[i,'director'] = ','.join(l2)
    
    y3 = json.loads(Movies.loc[i,'genres'])
    l3 = [d['name'] for d in y3]
    Movies.at[i,'genres'] = ','.join(l3)

In [31]:
Movies.loc[:,'actors']

0      Sam Worthington,Zoe Saldana,Sigourney Weaver,S...
1      Johnny Depp,Orlando Bloom,Keira Knightley,Stel...
2      Daniel Craig,Christoph Waltz,LÃ©a Seydoux,Ralph...
3      Christian Bale,Michael Caine,Gary Oldman,Anne ...
4      Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...
                             ...
193    D. B. Sweeney,Alfre Woodard,Ossie Davis,Max Ca...
194    Ben Stiller,Rami Malek,Rebel Wilson,Robin Will...
195    Will Ferrell,Brad Pitt,Tina Fey,Jonah Hill,Dav...
196    Daniel Radcliffe,Rupert Grint,Emma Watson,Rich...
197    Jeff Bridges,Ryan Reynolds,Kevin Bacon,Stephan...
Name: actors, Length: 198, dtype: object

In [32]:
Movies.loc[:,'director']

0                   James Cameron
1                  Gore Verbinski
2                      Sam Mendes
3               Christopher Nolan
4                  Andrew Stanton
                  ...
193    Ralph Zondag,Eric Leighton
194                    Shawn Levy
195                   Tom McGrath
196                Chris Columbus
197              Robert Schwentke
Name: director, Length: 198, dtype: object

In [33]:
Movies.loc[:,'genres']

0            Action,Adventure,Fantasy,Science Fiction
1                            Adventure,Fantasy,Action
2                              Action,Adventure,Crime
3                         Action,Crime,Drama,Thriller
4                    Action,Adventure,Science Fiction
                            ...
193                                  Animation,Family
194                   Adventure,Comedy,Fantasy,Family
195    Animation,Action,Comedy,Family,Science Fiction
196                          Adventure,Fantasy,Family
197                       Fantasy,Action,Comedy,Crime
Name: genres, Length: 198, dtype: object

In [34]:
Movies

,genres,id,original_language,overview,popularity,release_year,runtime,title,vote_average,vote_count,actors,director
0,"Action,Adventure,Fantasy,Science Fiction",19995,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009,162,Avatar,7.2,11800,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S...",James Cameron
1,"Adventure,Fantasy,Action",285,en,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007,169,Pirates of the Caribbean: At World's End,6.9,4500,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel...",Gore Verbinski
2,"Action,Adventure,Crime",206647,en,A cryptic message from Bondâs past sends him o...,107.376788,2015,148,Spectre,6.3,4466,"Daniel Craig,Christoph Waltz,LÃ©a Seydoux,Ralph...",Sam Mendes
3,"Action,Crime,Drama,Thriller",49026,en,Following the death of District Attorney Harve...,112.312950,2012,165,The Dark Knight Rises,7.6,9106,"Christian Bale,Michael Caine,Gary Oldman,Anne ...",Christopher Nolan
4,"Action,Adventure,Science Fiction",49529,en,"John Carter is a war-weary, former military ca...",43.926995,2012,132,John Carter,6.1,2124,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...
193,"Animation,Family",10567,en,An orphaned dinosaur raised by lemurs joins an...,26.548594,2000,82,Dinosaur,6.2,542,"D. B. Sweeney,Alfre Woodard,Ossie Davis,Max Ca...","Ralph Zondag,Eric Leighton"
194,"Adventure,Comedy,Fantasy,Family",181533,en,When the magic powers of The Tablet of Ahkmenr...,115.597753,2014,97,Night at the Museum: Secret of the Tomb,6.1,1851,"Ben Stiller,Rami Malek,Rebel Wilson,Robin Will...",Shawn Levy
195,"Animation,Action,Comedy,Family,Science Fiction",38055,en,Bumbling supervillain Megamind finally defeats...,68.757242,2010,95,Megamind,6.7,1918,"Will Ferrell,Brad Pitt,Tina Fey,Jonah Hill,Dav...",Tom McGrath
196,"Adventure,Fantasy,Family",671,en,Harry Potter has lived under the stairs at his...,109.984351,2001,152,Harry Potter and the Philosopher's Stone,7.5,7006,"Daniel Radcliffe,Rupert Grint,Emma Watson,Rich...",Chris Columbus
197,"Fantasy,Action,Comedy,Crime",49524,en,A recently slain cop joins a team of undead po...,39.448066,2013,96,R.I.P.D.,5.4,1260,"Jeff Bridges,Ryan Reynolds,Kevin Bacon,Stephan...",Robert Schwentke

In [35]:
Movies.to_csv('data/Movies_cleaned.csv',index=False)

In [12]:
!pip install rake_nltk

Requirement already satisfied: rake_nltk in /opt/anaconda3/lib/python3.8/site-packages (1.0.4)
Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.8/site-packages (from rake_nltk) (3.5)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk->rake_nltk) (0.16.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk->rake_nltk) (7.1.2)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk->rake_nltk) (4.47.0)
Requirement already satisfied: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk->rake_nltk) (2020.6.8)

In [11]:
!pip install nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.8/site-packages (3.5)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (4.47.0)
Requirement already satisfied: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (2020.6.8)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (0.16.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (7.1.2)

In [14]:
!conda install -c anaconda nltk

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - nltk


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.24  |                0         132 KB  anaconda
    certifi-2020.6.20          |           py38_0         159 KB  anaconda
    nltk-3.5                   |             py_0         1.1 MB  anaconda
    openssl-1.1.1g             |       h1de35cc_0         3.4 MB  anaconda
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  certifi                                         pkgs/main --> anaconda
  nltk                                            pkgs/main --> anaconda
  openssl                                         pkgs/main --> anaconda


Proceed ([y]/n)? ^C

CondaSystemExit:
Operation aborted.  Exiting.

In [13]:
import numpy as np
import pandas as pd
import nltk
from rake_nltk import Rake
from functools import reduce
from ast import literal_eval
import sqlite3
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity


# 1. collect data from the .csv file
df = pd.read_csv('../dataset/Movies_cleaned.csv')
df = df[['title', 'genres', 'director', 'actors', 'overview']]
# print(df.head())

# 2. data cleaning
#    Since the attribute 'overview' contains many words, we need to extract some keywords out of it.
#    We use the feature of the 'nltk' package to perform this job
#    We assign the keywords of the 'overview' of each movie to a new col 'keywords'

df['keywords'] = ""

for index, row in df.iterrows():
    overview = row['overview']

    # instantiating Rake, by default it uses english stopwords from NLTK
    # and discards all puntuation characters as well
    r = Rake()

    # extracting the words by passing the text
    r.extract_keywords_from_text(overview)

    # getting the dictionary whith key words as keys and their scores as values
    key_words_dict_scores = r.get_word_degrees()

    # assigning the key words to the new column for the corresponding movie
    row['keywords'] = list(key_words_dict_scores.keys())

# dropping the 'overview' column
df.drop(columns=['overview'], inplace=True)

# print(df.info())
# print(df['keywords'])


df['genres'] = df['genres'].map(lambda x: x.split(','))
df['actors'] = df['actors'].map(lambda x: x.split(',')[:3])
df['director'] = df['director'].map(lambda x: x.split(','))
for index, row in df.iterrows():
    row['genres'] = [x.lower().replace(' ', '') for x in row['genres']]
    row['actors'] = [x.lower().replace(' ', '') for x in row['actors']]
    row['director'] = [x.lower().replace(' ', '') for x in row['director']]

# print(df.iloc[0])


df['list_of_words'] = ''
columns = ['genres', 'director', 'actors', 'keywords']
for index, row in df.iterrows():
    words = ''
    for col in columns:
        words += ' '.join(row[col]) + ' '
    row['list_of_words'] = words

df = df[['title', 'list_of_words']]

print(df.iloc[0])

ModuleNotFoundError: No module named 'nltk'